<!DOCTYPE html>
	<html>
		<head>
			<!-- Title -->
			<title>My Mini To Do App</title>

			<!-- Stylesheet Link -->
			<link rel="stylesheet" href="css/Styles.css">
			<link rel="stylesheet" href="/css/quoteStyles.css">

			<!-- Google Font Link -->
			<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		</head>
